@{
    ViewData["Title"] = "خطای دسترسی";
}

<div class="text-center">
    <h1 class="display-4 text-danger">متاسفیم!</h1>
    <p class="lead">@ViewBag.ErrorMessage</p>
    <hr />
    <a href="/" class="btn btn-primary">برگشت به صفحه اصلی</a>
</div>