
.profile-card {
    border-radius: 15px;
    border: none;
}

.img-thumbnail {
    border: 3px solid #198754; 
}


.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da !important;
    border-radius: 0.375rem !important;
    min-height: 45px;
    padding: 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #86b7fe !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #198754 !important;
    color: white !important;
    border: none !important;
    padding: 2px 10px !important;
    border-radius: 5px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffffff !important;
    margin-left: 5px !important;
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        background: none !important;
        color: #ff0000 !important;
    }
