
.service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
}

    .service-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 1rem 3rem rgba(0,0,0,.1) !important;
    }


.service-img {
    height: 180px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}


.service-desc {
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}


.price-tag {
    font-size: 1.1rem;
    color: #198754;
}


.page-link {
    color: #0d6efd;
    border: none;
    margin: 0 3px;
    border-radius: 8px !important;
    transition: all 0.2s;
}

.page-item.active .page-link {
    background-color: #0d6efd;
    box-shadow: 0 4px 10px rgba(13, 110, 253, 0.3);
}
