
.transition-up {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .transition-up:hover {
        transform: translateY(-8px);
        box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
    }


.section-divider {
    width: 70px;
    height: 3px;
}



.category-img-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3; 
    overflow: hidden;
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #f1f1f1;
}

.category-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    transition: transform 0.4s ease;
}

.category-img-wrapper:hover .category-img {
    transform: scale(1.05);
}


.category-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 12px;
    color: white;
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    font-weight: bold;
}


.page-link {
    border: none;
    color: #0d6efd;
    transition: all 0.2s ease;
}

    .page-link:hover {
        background-color: #f8f9fa;
        transform: scale(1.05);
    }

.page-item.active .page-link {
    background-color: #0d6efd;
    color: white;
}

.page-item.disabled .page-link {
    color: #6c757d;
}
